@import "tailwindcss";
/* in index.css or global.css */
/* in index.css (Tailwind global styles) */
:root {
  --primary: #1677ff;
  --bg-dark: #0f172a; /* slate-900 */
  --bg-card: rgba(30, 41, 59, 0.7); /* glass effect */
  --text-light: #f8fafc; /* slate-50 */
}
body {
  background: var(--bg-dark);
  color: var(--text-light);
   padding-top:4rem;
  
}

